* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.debug {
  header {
    background-color: #add8e6;

    .items_header {
      background-color: #daa520;
      ;
    }
  }

  main {
    background-color: blue;

    .jumbotron {
      background-color: #00008b;;
    }
  }

  footer {
    background-color: red;
  }

}

.list_unstyled {
  list-style: none;
}

.invite_only {
  background-color: white;
}

.community {
  background-color: #d3d3d3;
}

.fandom {
  background-color: white;
}

.img_items {
  background-color: #1e90ff;
}

.text_items {
  background-color:#ffc0cb ;
}

header {
  min-height: 80px;
  display: flex;
  justify-content: center;
  padding: 20px;

  .items_header {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    ul.list_unstyled {
      display: flex;
      gap: 1rem;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
      
    }

    .login {
      color: black;
      text-decoration: none;
    }
  }
}

.jumbotron {
  min-height: 500px;
  padding: 50px;
  display: flex;
  justify-content: center;

  .items_jumbotron {
    background-color: #ee82ee;
    width: 50%;
    min-height: 390px;
  }
}


.invite_only {
  min-height: 600px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.community {
  min-height: 600px;
  padding: 50px;
  display: flex;
  justify-content: center;

  .container {
    flex-direction: row-reverse;
  }
}

.fandom {
  min-height: 600px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.container {
  width: 60%;
  min-height: 500px;
  display: flex;

  .img_items {
    width: 60%;
    height: 100%;
  }

  .text_items {
    width: 40%;
    height: 100%;

  }
}