* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.debug {
  header {
    background-color: #add8e6;

    .items_header {
      background-color: #daa520;
      ;
    }
  }

  main {
    background-color: blue;

    .jumbotron {
      background-color: #00008b;;
    }
  }

  footer {
    background-color: red;
  }

}

.list_unstyled {
  list-style: none;
}

header {
  min-height: 80px;
  display: flex;
  justify-content: center;
  padding: 20px;

  .items_header {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    ul.list_unstyled {
      display: flex;
      gap: 1rem;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
      
    }

    .login {
      color: black;
      text-decoration: none;
    }
  }
}

.jumbotron {
  min-height: 500px;
  padding: 50px;
  display: flex;
  justify-content: center;

  .items_jumbotron {
    background-color: #ee82ee;
    width: 50%;
    min-height: 390px;
  }
}